* {
    font-family: 'Jost', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    .header-left{
        flex: 0.6;
        h1 {
            font-size: 28px;
            font-weight: 400;
        }
    }
    .header-right{
        flex: 0.4;
        align-items: right;
        a{
            font-size: 14px;
            text-decoration: none;
        }

    }
}